<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <p>Welcome!</p>
      </header>
      <p>I'm a Schmidt Fellow at the University of Chicago. I think about the detection, analysis, and interpretation of gravitational waves as tools with which to test physics, understand stars, and study the distant Universe.</p>
      <p>Before Chicago, I worked as a Research Fellow at the Flatiron Institute's Center for Computational Astrophysics. I attended Carleton College for my undergraduate education, after which I obtained an M.Phil. in Astronomy at the University of Cambridge and my Ph.D. in Physics at Caltech.</p>
    </div>
    <span class="image object">
      <img src="assets/images/me.jpg" alt="" />
    </span>
  </section>
